/*-------------------------*\
    STRUCTURE
\*-------------------------*/

/* Styling for initial HTML document */
body {
    font-family: 'Lato', sans-serif;
}
#elections-body-container {
    max-width: 1280px;
    margin: auto;
}
#live-filter-results {
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 15px;
    width: 40%;
    min-width: 300px;
    height: 30px;
    border: 1px solid #b2b2b2;
    border-radius: 4px;
    font-family: inherit;
    margin: bottom;
    padding-left: 10px;
}
.election-candidate, .ballot-measure {
    font-weight: bold;
}
.item-name {
    text-transform: capitalize;
}
.election-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h3 {
    margin-top: 0;
}
.election-results-group {
    width: 26%;
    min-width: 300px;
    overflow: wrap;
    padding: 30px 30px 45px 30px;
    margin: 5px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    background-color: #fefefe;
}
.election-category-header {
    text-align: center;
}
.election-category-header h2 {
    text-transform: uppercase;
}
.election-title, .election-details, .election-candidate, .index-item-0 {
    margin: 0 auto 20px auto;
}
.election-title, .index-item-0 {
    font-weight: bold;
    font-size: 1.17em;
}
.election-candidate:last-child {
    margin-bottom: 0;
}
.fresno-item:nth-of-type(n+5) {
    font-weight: bold;
}

/* Leader banner */
.election-results-group .election-candidate:nth-of-type(2)/*, .index-item-11*/ {
    background-color: #fafafa;
    padding: 5px 0px 5px 10px;
    margin: 0 auto 15px auto;
    border-left: 3px solid #ffd54f;
    box-shadow: 1px 1px 2px rgba(0,0,0,.1);
    border-radius: 3px;
}
.yesPercent {
    background-color: #fafafa;
    padding: 5px 0px 5px 10px;
    margin: 0 auto 15px auto;
    border-left: 3px solid #81c784;
    box-shadow: 1px 1px 2px rgba(0,0,0,.1);
    border-radius: 3px;
}
.noPercent {
    background-color: #fafafa;
    padding: 5px 0px 5px 10px;
    margin: 0 auto 15px auto;
    border-left: 3px solid #e57373;
    box-shadow: 1px 1px 2px rgba(0,0,0,.1);
    border-radius: 3px;
}

@media screen and (max-width: 770px) {
    .election-results-group {
        width: 100%;
    }
}

/* Party-based styling for SoS data */
.Dem::after {
    content: ' (D)';
}
.Rep::after {
    content: ' (R)';
}
.Non::after {
    content: ' (Non-Partisan)';
}
.NPP::after {
    content: ' (NPP)';
}
.Lib::after {
    content: ' (Lib.)';
}
.Dem {
    color: #2196F3;
}
.Rep {
    color: #F44336;
}
.Non {
    color: #757575;
}
.NPP {
    color: #757575;
}
.Lib {
    color: #757575;
}

/* Array value-specific styling for Fresno County data */

.index-item-6 {
    padding-bottom: 20px;
}
