/* Styling for initial HTML document */
body {
    font-family: sans-serif;
}
#live-filter-results {
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 15px;
    width: 40%;
    min-width: 300px;
    height: 30px;
    border: 1px solid #b2b2b2;
    border-radius: 4px;
    font-family: inherit;
    margin: bottom;
    padding-left: 10px;
}
.election-candidate, .ballot-measure {
    font-weight: bold;
}
.election-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.election-results-group {
    width: 30%;
    min-width: 300px;
    overflow: wrap;
    padding: 15px;
    margin: 5px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
}
#formatted-st-asmbly-d1-data div, #formatted-gov-data div {
    margin: auto auto 20px auto;
}
@media screen and (max-width: 770px) {
    .election-results-group {
        width: 100%;
    }
}

/* Party-based styling for SoS data */
.Dem::after {
    content: ' (D)'
}
.Rep::after {
    content: ' (R)'
}
.Dem {
    color: #2196F3;
}
.Rep {
    color: #F44336;
}

/* Array value styling for Fresno County data */

.index-item-0 {
    padding-bottom: 20px;
    font-weight: bold;
}
.index-item-6 {
    padding-bottom: 20px;
}
